*.psd filter=lfs diff=lfs merge=lfs -text
*.qpg filter=lfs diff=lfs merge=lfs -text
QuartusReal/QuartusReal/incremental_db filter=lfs diff=lfs merge=lfs -text
QuartusReal/QuartusReal/licenses filter=lfs diff=lfs merge=lfs -text
QuartusReal/QuartusReal/modelsim_ase filter=lfs diff=lfs merge=lfs -text
QuartusReal/QuartusReal/FinalProject.qpf filter=lfs diff=lfs merge=lfs -text
QuartusReal/QuartusReal/FinalProject.qws filter=lfs diff=lfs merge=lfs -text
QuartusReal/QuartusReal/software filter=lfs diff=lfs merge=lfs -text
QuartusReal/QuartusReal/TERASIC_JTAG.dll filter=lfs diff=lfs merge=lfs -text
QuartusReal/QuartusReal/hls filter=lfs diff=lfs merge=lfs -text
QuartusReal/QuartusReal/lab7_soc.sopcinfo.xml filter=lfs diff=lfs merge=lfs -text
QuartusReal/QuartusReal/RemoteSystemsTempFiles filter=lfs diff=lfs merge=lfs -text
QuartusReal/QuartusReal/ship.sv.bak filter=lfs diff=lfs merge=lfs -text
QuartusReal/QuartusReal/system.log filter=lfs diff=lfs merge=lfs -text
QuartusReal/QuartusReal/danielp7_masakis2_lab9 filter=lfs diff=lfs merge=lfs -text
QuartusReal/QuartusReal/danielp7_masakis2_lab9.zip filter=lfs diff=lfs merge=lfs -text
QuartusReal/QuartusReal/DE2_115_ControlPanel.exe filter=lfs diff=lfs merge=lfs -text
QuartusReal/QuartusReal/uninstall filter=lfs diff=lfs merge=lfs -text
QuartusReal/QuartusReal/DE2_115_ControlPanel.sof filter=lfs diff=lfs merge=lfs -text
QuartusReal/QuartusReal/lab9.qsf filter=lfs diff=lfs merge=lfs -text
QuartusReal/QuartusReal/logs filter=lfs diff=lfs merge=lfs -text
QuartusReal/QuartusReal/simulation filter=lfs diff=lfs merge=lfs -text
QuartusReal/QuartusReal/TERASIC_DOWNLOAD.dll filter=lfs diff=lfs merge=lfs -text
QuartusReal/QuartusReal/ECE[[:space:]]385 filter=lfs diff=lfs merge=lfs -text
QuartusReal/QuartusReal/ip filter=lfs diff=lfs merge=lfs -text
QuartusReal/QuartusReal/nios2eds filter=lfs diff=lfs merge=lfs -text
QuartusReal/QuartusReal/danielp7_masakis2_FinalProject filter=lfs diff=lfs merge=lfs -text
QuartusReal/QuartusReal/danielp7_masakis2_lab8 filter=lfs diff=lfs merge=lfs -text
QuartusReal/QuartusReal/db filter=lfs diff=lfs merge=lfs -text
QuartusReal/QuartusReal/DE2_115_control_panel filter=lfs diff=lfs merge=lfs -text
QuartusReal/QuartusReal/FinalProject.qsf filter=lfs diff=lfs merge=lfs -text
QuartusReal/QuartusReal/output_files filter=lfs diff=lfs merge=lfs -text
QuartusReal/QuartusReal/TERASIC_JTAG_DRIVE.dll filter=lfs diff=lfs merge=lfs -text
QuartusReal/QuartusReal/quartus filter=lfs diff=lfs merge=lfs -text
QuartusReal/QuartusReal/ship.sv filter=lfs diff=lfs merge=lfs -text
*/QuartusReal/* filter=lfs diff=lfs merge=lfs -text
[[:space:]]QuartusReal/modelsim_ase/altera/verilog/arriaii_pcie_hip/_lib1_0.qpg filter=lfs diff=lfs merge=lfs -text
QuartusReal/modelsim_ase/altera/verilog/arriavgz_pcie_hip/_lib1_0.qpg filter=lfs diff=lfs merge=lfs -text
QuartusReal/modelsim_ase/altera/verilog/cycloneiv_pcie_hip/_lib1_0.qpg filter=lfs diff=lfs merge=lfs -text
QuartusReal/QuartusReal/hls/windows64/bin/aocl-clang.exe filter=lfs diff=lfs merge=lfs -text
QuartusReal/quartus/bin64/db_wys.dll filter=lfs diff=lfs merge=lfs -text
QuartusReal/modelsim_ase/altera/verilog/arriaiigz_pcie_hip/_lib1_0.qpg filter=lfs diff=lfs merge=lfs -text
